name: Build AMI with Packer

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3
        with:
          version:: latest

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Init Packer plugins
        working-directory: packer
        run: |
          packer init .

      - name: Validate template
        working-directory: packer
        run: |
          packer validate .

      - name: Format
        working-directory: packer
        run: packer fmt -check .

      - name: Build
        working-directory: packer
        run: packer build main.pkr.hcl